snippet fr "fraction"
\frac{${1:num}}{${2:denom}}
endsnippet

snippet linf "limit ... to infinity"
\lim{${1:x} \to \infty}
endsnippet

snippet que "question"
\begin{question}
	${1}
\end{question}
endsnippet

snippet eq "inline equation"
$${1}$
endsnippet

snippet deq "display equation"
\[
	${1}
\]
endsnippet

snippet align "align"
\begin{align*}
	${1}
\end{align*}
endsnippet

snippet xbar "x bar"
\overbar{X}
endsnippet

snippet set "set of values"
\\{ ${1} \\}
endsnippet
